html {
	scroll-behavior: smooth;
}

body {
	color: var(--dark);
    font-family: var(--font-main);
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
}

img {
	object-fit: cover;
}

.error-message {
  margin-bottom: 25px;
}
