:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'Inter', sans-serif;
	--font-second: 'Comfortaa', serif;

	--page-bg: #fff;
	--text-color: #000;
	--accent: #ac182c;
	--dark: #262C27;
	--blue: #0093A1;
	--white: #ffffff;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}