.header {
	background-image: url('../../img/header-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		background-image: url('../../img/header-decor.svg');
		bottom: 0;
		left: 0;
		right: 0;
		height: 456px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transform: translateY(45%);
		z-index: 2;
	}

		&::after {
			content: "";
			position: absolute;
			background-image: url('../../img/header-decor.svg');
			bottom: 0;
			left: 0;
			right: 0;
			height: 456px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transform: translateY(85%) rotate(180deg);
			z-index: 3;
	}

	.nav {
		position: relative;
	}

	&__top {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-top: 57px;
		gap: 100px;
		font-size: 20px;
		font-weight: 700;

		@media (max-width: 1050px) {
			display: none;
		}
	}

	.logo path{
		transition: fill .3s ease;
	}

	.logo:hover path {
		fill: #0093A1;
	}

	&__btn {
		position: relative;
		padding: 12px 71px;
		background-color: var(--dark);
		text-transform: uppercase;
		color: var(--white);
		font-family: 'Comfortaa', sans-serif;
		cursor: pointer;
		border: none;
		transition: all .3s ease;

		&:hover {
			background-color: var(--olive);
			color: var(--dark);
			border-radius: 10px;
		}

		&:active {
			top: 1px;
		}
	}

	&__phone {
	color: var(--dark);
	font-family: 'Comfortaa', sans-serif;
	transition: color .3s ease;

		&:hover {
			color: var(--blue);
		}
	}

	&__content {
		height: calc(100vh - 161px);
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
	}

	&__content-box {
		max-width: 550px;
		text-align: center;
		margin-right: 40px;
		color: var(--white);
		font-family: 'Comfortaa', sans-serif;
		font-weight: 700;
	}

	&__title {
		text-transform: uppercase;
		font-size: 64px;
		line-height: 71px;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 24px;
		line-height: 27px;
		margin-bottom: 20px;
	}

	&__decor-text {
		position: absolute;
		bottom: -85px;
		color: var(--blue);
		}

		&__decor-text--dom {
			right: 145px;
			z-index: 1;
			bottom: -30px;
		}

		&__decor-text--dom,
		&__decor-text--free {
			font-family: 'Comfortaa', sans-serif;
			font-size: 130px;
			line-height: 145px;
			opacity: 0.3;
			font-style: normal;
			font-weight: 400;
		}

		&__decor-text--free {
			left: 265px;
			z-index: 4;
			bottom: -120px;
		}

		&__decor-text--pack {
			color: var(--blue);
			right: 145px;
			text-align: center;
			font-family: 'Inter', sans-serif;
			font-size: 32px;
			font-style: italic;
			font-weight: 300;
			line-height: normal;
			z-index: 43;
		}
}
