.info {
  background-image: url('../../img/info-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 180px;
    background-color: var(--dark);
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-17px);
    z-index: 1;
  }

  &__top {
    display: flex;
    gap: 82px;
    padding-top: 215px;
    margin-bottom: 65vh;
  }

  &__top-text {
    padding-top: 265px;
    width: 290px;
    color: var(--white);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding-bottom: 40px;
  }

  &__top-text--padding {
    padding-bottom: 125px;
  }

  &__top-text--border {
    border-bottom: 1px solid #fff;
  }

  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .play-btn span {
    text-align: center;
    padding-top: 12px;
    display: block;
    transition: color .3s ease;

    &:hover {
      color: var(--blue);
    }
  } 

circle {
  stroke: white;
  stroke-width: 2;
  fill: none;
  transition: all 0.3s ease; 
}

path {
  fill: white;
  transition: color 0.3s ease;
}

svg:hover circle {
  stroke: var(--olive);
}

svg:hover path {
  fill: var(--olive);
}

  &__top-img {
    position: relative;
    z-index: 6;
  }

  &__specs {
    display: flex;
    align-items: center;
    gap: 130px;
    color: var(--white);
    padding-bottom: 50px;
  }

  &__specs-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 60px;
    line-height: 67px;
    text-transform: uppercase;
    width: 220px;
  }

  &__specs-list {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 0;
    width: 565px;
    color: var(--white, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
  }

  &__specs-item {
    margin-bottom: 15px;
    display: flex;
    gap: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__specs-caption {
    width: 185px;
  }

  &__specs-text {

  }
}



.buy {
  padding: 150px 0;

&__inner {
  display: flex;
  align-items: center;
  gap: 90px;
}

&__content {
  position: relative;
  width: 510px;
}

&__title {
  color: var(--blue);
  font-family: 'Comfortaa', sans-serif;
  font-size: 60px;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
}

&__list {
  margin-bottom: 25px;
  width: 285px;
}


&__item {
  margin-bottom: 25px;
  color: var(--dark);

  &:hover .buy__item-title {
    color: var(--blue);
  }
}

&__item-title {
  margin-bottom: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  transition: color .3s ease;
}
&__item-text {

}
&__price {
  position: absolute;
  right: 0;
  bottom: 130px;

  z-index: 3;
  width: 201px;
  height: 199px;
  color: var(--dark);
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../img/star.svg');
}

&__btn {
  position: relative;
  color: var(--blue);
  font-family: 'Comfortaa', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 18px;
  text-align: center;
  max-width: 484px;
  width: 100%;
  border: 2px solid var(--Blue, #0093A1);
  background: rgba(185, 196, 0, 0.00);
  transition: all .3s ease;

    &:hover {
      background-color: var(--olive);
      color: var(--dark);
      border-color: var(--olive);
      border-radius: 10px;
    }

    &:active {
      top: 1px;
    }
  }
}